- content_for :page_title do
  My Projects
.projects-container
  .panel-group#project-accordion
    - @projects.each do |prj|
      .panel.panel-default
        .panel-heading
          %a.accordion-toggle.project-name{href: "#project#{prj.id}", 'data-toggle' => 'collapse', 'data-parent' => '#project-accordion'}
            = prj.name
          .environment-count
            = pluralize(prj.environments.count, 'Environment')
        .panel-collapse.collapse{id: "project#{prj.id}"}
          .panel-body
            %ul.list-group
              - prj.environments.each do |env|
                = render env