<!DOCTYPE html>
%html
  %head
    %title
      StageHog - Welcome!
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    = stylesheet_link_tag    "landing_page/landing_page", :media => "all"
    = javascript_include_tag "landing_page"
    = csrf_meta_tags

  %body
    .jumbotron.jt-landing
      .container
        %h1
          Stage Hog
        %p.blurb
          Track your development environments, who is using them, and their current status.
        %p.signin
          = link_to sign_in_path, class: 'btn btn-default btn-lg' do
            %i.icon-github
            Sign in with GitHub


