%li.list-group-item
  - status_type = env_status_type(environment)
  .env-status
    - if status_type == :production
      %span.label{class: 'label-primary'}
        Production
    - elsif status_type == :free
      %span.label{class: 'label-success'}
        Free
    - elsif status_type == :in_use
      %span.label{class: 'label-warning'}
        In use by
        = environment.using_user.nickname
  %h4.env-name
    - if status_type == :free
      = link_to environment.name, use_environment_url(id: environment.id)
    - elsif status_type == :in_use and environment.using_user.id == current_user.id
      = link_to environment.name, free_environment_url(id: environment.id)
    - else
      = environment.name
  .env-status-text
    = env_status(environment)
  - if environment.url.present?
    .env-url
      %i.icon-globe
      &nbsp;
      %a{href: environment.url, target:'_blank'}><
        = environment.url